{% set imagePath = file_url(content.field_article_highlight_image|field_target_entity.image.entity.uri.value) %}
{% set articleType = content.field_article_type|field_value %}
{% set pubDate = content.field_publication_date_electroni|field_value %}


{% if articleType == "Article"  %}
    {% set _icon_ = 'fa-file-text-o' %} 
    {% set _color_ = 'blue' %} 
	{% elseif articleType == "Audio/visual art"  %}
    {% set _icon_ = 'fa-volume-up' %} 
    {% set _color_ = 'red' %} 
	{% elseif articleType == "Blog post"  %}
    {% set _icon_ = 'fa-rss' %} 
    {% set _color_ = 'green' %} 
	{% elseif articleType == "Creative writing"  %}
    {% set _icon_ = 'fa-pencil-square-o' %} 
    {% set _color_ = 'teal' %} 
	{% elseif articleType == "News"  %}
    {% set _icon_ = 'fa-newspaper-o' %} 
    {% set _color_ = 'purple' %} 
	{% elseif articleType == "Note"  %}
    {% set _icon_ = 'fa-envelope-open-o' %} 
    {% set _color_ = 'aqua' %} 
	{% elseif articleType == "Notice"  %}
    {% set _icon_ = 'fa-exclamation-circle' %} 
    {% set _color_ = 'teal' %} 
  {% else %}
    {% set _icon_ = '' %} 
    {% set _color_ = '' %} 
{% endif   %}




<header style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ imagePath }}')" class="article-title-banner node__header paragraph-responsive-typography-enabled article-header">
  <div  class="container article-info--wrapper">

        {% block title_area %}
          {{ title_prefix }}
          <a class="slide_link" href="{{url}}">
            <h1{{ title_attributes.addClass('article--title title') }}>
              {{ label }}
            </h1>
          </a>
            <h1{{ title_attributes.addClass('article--title title sr-only') }}>
              {{ label }}
            </h1>
          {{ title_suffix }}
        {% endblock %}
  <section class="article-header--metadata">
    <div class="left">
      <div class="article--contributor">
        <!--Robert N. Drew-->
        {{ content.field_authors_and_affiliations|without('label') }}
      </div>
    </div>
    <div class="right">
      {#<div class="article--type">{{ articleType}} </div>#}
      <div class="article--type with-icon {{_icon_}}">{{ content.field_article_type|field_value }} </div>
      <div class="article--date-published">
        {{pubDate}} </div>
    </div>
  </section>
  </div>

</header>
