{#{{ kint(node) }}#}
{% set toc = drupal_entity('block', 'tableofcontents', check_access=false) %}
{% set tabs = drupal_block('local_tasks_block') %}
{{dump(toc|render|striptags|trim)}}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{{ attach_library('classy/node') }}
{{ attach_library('magazineplus/node') }}

            {#main banner#}
            {% include '@lmmi_journal/article_pages/article--hero.html.twig' %}
<div class="container">
  <div class="clearfix">
    <div class="row">
      <div class="col-md-12">


        <article{{ attributes.addClass(classes) }}>
          {#admin tabs#}
          <div class="node__container">
            {% block node_side %}
            {% endblock %}



            {% if toc is not empty %}
              {{ toc  }}
            {% endif %}
            {#start of article #}
            <div{{ content_attributes.addClass( 'node__main-content', 'clearfix') }}>

            {{ tabs }}
              {% block header_top %}
              {% endblock %}



              {#main content#}
              {% block content %}
              {{  content|without( 'field_article_highlight_image', 'field_authors_and_affiliations' )}}
              {% endblock %}
              {% block content_bottom %}
              {% endblock %}
            </div>
          </div>
        </article>

      </div>
    </div>
  </div>
</div>


